body {
	background-color: #FFFFFF;
}

.header_bar {
	background-color: #F2F2F2;
	height: 20px;
	position:absolute;
 	top:0px;
 	width: 100%;
 	padding-bottom: 10px;
 	padding-left: 40px;
 	margin-left: 0px;
 	left: 0;
 	display: inline-block;
 }
.header_bar p {
	font-size: 10px;
	padding-top: 2px
	padding-bottom: 10px;
	margin-left: px;
}

.header_bar li{
	display: inline;
	padding-right: 20px;
	padding-bottom: 2px;
	padding-top: 5px;
	font-family: 'Muli', sans-serif;
	font-weight: lighter;
	font-size: 14px;
	margin-left: 0px;
}

.header_bar ul {
	padding-bottom: 5px;
}

.top-right-menu {
	float: right;
}

.top-left-menu {
	width: 80%
}

.search-bar input[type=text]{
	float: right;
	width: 15%;
	height: 30px;
	margin-top: 50px;
	border: 1px solid black;
}

.top-container {
	width: 95%;
	height: 125px;
	margin-top: 20px;
}

.top-container p {
	color: #14234C;
	float: right;
	width: 20%;
	height: 20px;
	border-color: black;
}

.main_logo {
	width: 75%;
}

h1 {
	padding-top: 25px;
	font-family: 'Muli', sans-serif;
	color: #14234C;
	font-size: 40px;
	width: 75%;
	float: left;

}

h3 {
	font-family: 'Muli', sans-serif;
	padding-left: 20px;	
	padding-right: 20px;
	color: #DB1A36;
}

ul#menu li {
	display: inline;
	font-family: 'Muli', sans-serif;
	color: #14234C;
	font-size: 20px;
	padding-right: 40px;
	margin: 0px;

}

ul {
	padding: 0;
}

h2 {
	font-family: 'Muli', sans-serif;
	color: #DB1A36;
}

.login_area {
/*	position: absolute;
	right: 40px;
	background-color: #D81A36;
	height: 30px;
	width: 25%;
	flex-grow: 1;*/
/*	margin-left: 15%;*/
    height: 300px;
    background: #DB1A36;
    float: right;
    width: 25%;
    justify-content: center;
	align-items: center;
	text-align: center;

}

.login_area form {
	background-color: #D81A36;
	color: #FFFFFF;
	justify-content: center;
	align-items: center;
}

.login_area p{
	font-family: 'Muli', sans-serif
}

input[type=button], input[type=submit], input[type=reset], .login {
  background-color: #D81A36;
  border-color: white;
  border-radius: 2px;
  color: white;
  padding: 0px 0px;
  text-decoration: none;
  margin-top: 6%;
  cursor: pointer;
  height: 40px;
  width: 80%;
}

.login-form input[type=text]{
	width: 80%;
	height: 25px;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 6%;
	justify-content: center;
	align-items: center;
	margin-right: 3%;
	margin-left: 3%;
	border-color: : #14234C;
	border-radius: 2px;
	border-width: 2px;
}

input[type="password"]{
	width: 80%;
	height: 25px;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 6%;
	justify-content: center;
	align-items: center;
	margin-right: 3%;
	margin-left: 3%;
	border-color: : #14234C;
	border-radius: 2px;
	border-width: 2px;
}



.container{
	width: 95%;
    height: 300px;
    padding: 0px;
    border: 3px
}

.process_walkthrough {
    width: 75%;
    height: 300px;
    float: left;
    background-color: #F2F2F2;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-column-gap: 30px;
/*  justify-content: center;*/
  align-items: center;
  justify-items: center;
  height: 285px;
}

.footer-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
/*  justify-content: center;*/
  align-items: center;
/*  justify-items: center;*/
  height: 90%;
  width: 30%;
  margin-right: 35%;
  margin-left: 35%;
  padding-top: 5px;
}

.footer-grid-item {
	color: #ffffff;
	font-family: "Muli", sans-serif;
	font-weight: lighter;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	justify-content: center;
  	align-items: center;
} 

.footer-grid-item ul {
	list-style-type: none;
}

.footer-grid-item li {
	padding-top: 5px;
	padding-bottom: 10px;
}



.grid-item-description{
	color: #14234C;
	font-family: 'Muli', sans-serif;
	padding: 10px;
	/*display: flex;*/
	/*text-align: center;*/
	/*align-items: center;*/

}

.grid-item-description{
	color: #14234C;
	font-family: 'Muli', sans-serif;
	padding: 10px;
	/*display: flex;*/
	text-align: center;
	/*align-items: center;*/

}

.grid-item-image {
	display: flex;
/*  justify-content: center;
  align-items: center;*/
}

.photo-container {
/*	margin-bottom: 200px;*/
	width: 95%;
	display: flex;
}

/*.left-photo{
	width: 400px;
}*/

.left-photo image{
  flex:47.5%;
  /*padding: 5px;*/
/*  width:47.5%;*/
}


.right-photo image{
  flex: 47.5%;
  /*padding: 5px;*/
/*  width:47.5%;*/
}

.left-info-box {
    float: left;
    position: relative;
    left: 40%;
    top: 70%;
    background-color: #FFFFFF;
    z-index: 1000;
    color: #14234C;
    width: 40%;
    justify-content: center;
    text-align: center;

    bottom: 10%;
    
}

.right-info-box {
    float: left;
    position: relative;
    left: 20%;
    top: 70%;
    bottom: 10%;
    background-color: #FFFFFF;
    z-index: 1000;
    color: #14234C;
    width: 40%;
    justify-content: center;
    text-align: center;

    
}

/*.left-photo {
	height: 400px;
}

.right-photo {
	margin-top: -10px;
}*/


.left-info-box p {
	font-family: 'Muli', sans-serif;
	word-wrap: break-word;	
	font-weight: lighter;
	font-size: 14px;

}

.right-info-box p {
	font-family: 'Muli', sans-serif;
	word-wrap: break-word;	
	font-weight: lighter;
	font-size: 14px;
	padding-right: 3px;
	padding-left: 3px;
}



body{
	/*margin-bottom: 100px;*/
	position: relative;
	height: 100%;
	margin: 0;
}

.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 15%; /* height of your footer */
 padding-left: 40px;
}

footer {
	background-color: #D81A36;
	height: 15%;
	position: absolute;
	width:100%;
	bottom: 0;
	left: 0;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 60%;
  float: left;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab-content {
  display: none;
/*  border: 5px solid #000000;
  border-top: none;*/
  margin-right: 0px;
  width: 60%;
}

.tab-content p {
	font-family: "Muli", sans-serif;
	font-weight: lighter;
	font-size: 14px;
}

.tab-content h3{
	padding-left: 0px;
}


.application-table {
	border: 1px solid black;
	width: 100%;
}

.table-header th{
	height: 50px;
	border-bottom: 1px solid #14234C;
	font-family: "Muli", sans-serif;
	color: #14234C;
}

.table-row, td, tr {
	text-align: center;
	border-bottom: 1px solid #14234C;
	font-family: "Muli", sans-serif;
	font-weight: lighter;
	height: 30px;
}

.file-submission-button {
  background-color: #D81A36;
  border-color: white;
  border-radius: 2px;
  color: white;
  padding: 0px 0px;
  text-decoration: none;
  margin-top: 6%;
  cursor: pointer;
  height: 40px;
  width: 80%;
}


.welcome-text {
	color: #D81A36;
	font-family: "Muli", sans-serif;
	font-weight: lighter;
}

.info-container {
	float: right;
	height: 100%;
	background: #F1f1f1;
	width: 25%;
	vertical-align: top;
}

.info-table {
	font-family: "Muli", sans-serif;
	color: #14234C;
	font-weight: bolder;
	top: 0;
	text-align: center;
	display: inline-block;
}

.info-table {
	list-style-type: none;
}

.info-list {
	text-align: center;
	list-style-type: none;
}

.info-list li p {
	font-family: "Muli", sans-serif;
	text-decoration: underline;
	padding: 20px;
	border-bottom: 1px #A9A9A9 solid;
}

.mid-container {
	width: 95%;
    height: 100%;
    padding: 0px;
    border: 3px;
}

.success-message {
	display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 800px;
    height: 400px;
    /*margin: auto;*/
    float: none;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 20%;
    /*background-color: #f3f3f3;"*/
}

.success-message h1 {
	float: none;
}

.success-message p {
	font-family: "Muli", sans-serif
}
