{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block title %}Account - {{ block.super }}{% endblock %}
{% block content %}
<div class="main-container">
	<div class="top-container">
		<div class="main_logo">
			<h1>Bank of America <img src="{% static "images/logo.png" %}"> Loan Advantage</h1>
		</div>
		<div class="search-bar">
			<input type="text" class= "search" placeholder="Search...">
		</div>
	</div>
<!-- 	<ul id="menu">
	  <li>Checking</li>
	  <li>Savings</li>
	  <li>Credit Cards</li>
	  <li>Home Loans</li>
	  <li>Loan Portal</li>
	</ul>  -->
	<div class="welcome-text">
	{% if user.is_authenticated %}
    	<p>Welcome, {{ user.get_full_name }}. The Loan Advantage Portal is the new home of Bank of America Loans.</p>
	{% else %}
    	 <script>
		    function redirect(){
		       window.location.href = "https://boa-loan-portal.herokuapp.com/login";
		    }

		    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
		</script>
	{% endif %}
	</div>
	<div class="mid-container">
		<div class="tab">
		  <button class="tablinks" onclick="openCity(event, 'loan-form')" id="defaultOpen">New Application</button>
		  <button class="tablinks" onclick="openCity(event, 'history')">History</button>
		</div>
		<br>
		<div id="loan-form" class="tab-content">
			<h3>New Application Form</h3>
			<p>Fill out the required information to begin the approval process. Once your application is submitted, our loan officers will review your application. You can check the status of your application in the <b>History</b> tab.</p><br><br>
			<div class="form-body">
				<form enctype="multipart/form-data" method="post" action="">
<!-- 					<input type="text" name="first-name" placeholder="First Name"><br>
					<input type="text" name="last-name" placeholder="Last Name"><br>
					<input type="button" id="upload" name="file-upload"> -->
					{% csrf_token %}
					{{ form.as_p }}
					{{ form.errors }}
					{{ form.non_field_errors }}
					<button type="submit" class="file-submission-button" value="Post">Submit</button>
				</form>
			</div>
		</div>
		<div id="history" class="tab-content">
  			<h3>Application History</h3>
  			<p>Here is an overview of applications you've submitted.</p>
  			<table class="application-table">
  				<tr class="table-header">
  					<th>Application ID</th>
  					<th>Status</th>
  					<th>Submission Date</th>
  					<th>Last Updated</th>
  				</tr>
  				{% for application in applications %}
  				<tr class="table-row">
  					<td>{{ application.application_file_id }}</td>
  					{% if application.status == "SUB" %}
  						<td>Submitted</td>
  						
  					{% elif application.status == "PEND" %}
  						<td>Pending</td>
  					{% elif application.status == "APP" %}
  						<td>Approved</td>
  					{% else %}
  						<td>Complete</td>
  					{% endif %}

  					<td>{{ application.created_at }}</td>
  					<td>{{ application.updated_at }}</td>
  				</tr>
  				{% endfor %}
  			</table>
		</div>
		<div class="info-container">
			<ul class="info-list">
			<li><h3>News and Resources</h3></li>
			<li><p>Our Lending Methodology: Capitalism and Lending in the Technological Age</p></li>
			<li><p>Commitment to Lending in Low-Income Communities</p></li>
			<li><p>Bank of America Joins AARP to Help Fight Financial Exploitation</p></li>
			<li><p>Bank of America Named Winner of Top Companies for Women Technologists Program</p></li>
			<li><p>Bank of America’s Unique Approach to Loyalty Rewards Translates Into Record Client Satisfaction and Retention</p></li>
			</ul>
		</div>

		<script type="text/javascript">
			function openCity(evt, cityName) {
			  var i, tabcontent, tablinks;

			  tabcontent = document.getElementsByClassName("tab-content");
			  for (i = 0; i < tabcontent.length; i++) {
			    tabcontent[i].style.display = "none";
			  }

			  // Get all elements with class="tablinks" and remove the class "active"
			  tablinks = document.getElementsByClassName("tablinks");
			  for (i = 0; i < tablinks.length; i++) {
			    tablinks[i].className = tablinks[i].className.replace(" active", "");
			  }

			  // Show the current tab, and add an "active" class to the button that opened the tab
			  document.getElementById(cityName).style.display = "inline-block";
			  evt.currentTarget.className += " active";
			}
		document.getElementById("defaultOpen").click();
		</script>

		<!-- Tab links -->
			</div>
</div>

	
{% endblock %}