{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block title %}Account - {{ block.super }}{% endblock %}
{% block content %}
<div class="main-container">
	<div class="top-container">
		<div class="main_logo">
			<h1>Bank of America <img src="{% static "images/logo.png" %}"> LoanPortal5000</h1>
		</div>
		<div class="search-bar">
			<input type="text" placeholder="Search..">
		</div>
	</div>
<!-- 	<ul id="menu">
	  <li>Checking</li>
	  <li>Savings</li>
	  <li>Credit Cards</li>
	  <li>Home Loans</li>
	  <li>Loan Portal</li>
	</ul>  -->
	{% if user.is_authenticated %}
    	<p>Welcome, {{ user.get_full_name }}. Thanks for logging in.</p>
	{% else %}
    	<p>Welcome, new user. Please log in.</p>
	{% endif %}

		<div class="tab">
		  <button class="tablinks" onclick="openCity(event, 'loan-form')">New Application</button>
		  <button class="tablinks" onclick="openCity(event, 'history')" id="defaultOpen">History</button>
		</div>
		<div id="loan-form" class="tab-content">
			<h3>New Application Form</h3>
			<p>Fill out the required information to begin the approval process.</p>
			<div class="form-body">
				<form enctype="multipart/form-data" method="post" action="">
<!-- 					<input type="text" name="first-name" placeholder="First Name"><br>
					<input type="text" name="last-name" placeholder="Last Name"><br>
					<input type="button" id="upload" name="file-upload"> -->
					{% csrf_token %}
					{{ form.as_p }}
					{{ form.errors }}
					{{ form.non_field_errors }}
					<button type="submit" value="Post">Submit</button>
				</form>
			</div>
		</div>
		<div id="history" class="tab-content">
  			<h3>Application History</h3>
  			<p>Here is an overview of applications you've submitted.</p>
  			<table class="application_table">
  				<tr>
  					<th>Application ID</th>
  					<th>Status</th>
  					<th>Submission Date</th>
  					<th>Last Updated</th>
  				</tr>

		</div>
		<script type="text/javascript">
			function openCity(evt, cityName) {
			  var i, tabcontent, tablinks;

			  tabcontent = document.getElementsByClassName("tab-content");
			  for (i = 0; i < tabcontent.length; i++) {
			    tabcontent[i].style.display = "none";
			  }

			  // Get all elements with class="tablinks" and remove the class "active"
			  tablinks = document.getElementsByClassName("tablinks");
			  for (i = 0; i < tablinks.length; i++) {
			    tablinks[i].className = tablinks[i].className.replace(" active", "");
			  }

			  // Show the current tab, and add an "active" class to the button that opened the tab
			  document.getElementById(cityName).style.display = "block";
			  evt.currentTarget.className += " active";
			}
		document.getElementById("defaultOpen").click();
		</script>

		<!-- Tab links -->

	</div>
	<footer></footer>
{% endblock %}