{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block title %}Homepage - {{ block.super }}{% endblock %}
{% block content %}
	<div class="main-container">
	<div class="top-container">
		<div class="main_logo">
			<h1>Bank of America <img src="{% static "images/logo.png" %}"></h1>
		</div>
		<div class="search-bar">
			<input type="text" placeholder="Search..">
		</div>
	</div>
	<ul id="menu">
	  <li>Checking</li>
	  <li>Savings</li>
	  <li>Credit Cards</li>
	  <li>Home Loans</li>
	  <li>Loan Advantage</li>
	</ul> 
	<h2>Welcome to the new Loan Advantage Portal</h2>
	<!-- </div> -->

	<div class="container">

		<div class="process_walkthrough">
			<div class="grid-container">
				  <div class="grid-item-image"><img src="{% static "images/property.svg" %}" height="100"></div>
				  <div class="grid-item-image"><img src="{% static "images/zoom.svg" %}" height="100"></div>
				  <div class="grid-item-image"><img src="{% static "images/earnings.svg" %}" height="100"></div>
				  <div class="grid-item-description">
				  	<h3>Easy Application</h3>
				  	<p>Submit your application online now. No faxing required.</p>
				  </div>
				  <div class="grid-item-description">
				  	<h3>Quick Review</h3>
				  	<p>We'll review your application. This process usually takes 48-72 hours.</p>
				  </div>
				  <div class="grid-item-description">
				  	<h3>Fast Deposits</h3>
				  	<p>Your loan will be ready within a day, so you can get back to your work.</p>
				  </div>
			</div>
		</div>
		<div class="login_area">
				<form method="post" class="login-form">
				  {% csrf_token %}
				  {{ form.as_p }}
				  <button class="login" type="submit">Login</button>
				</form>
<!-- 			<form method="POST" class="login" action="/login/">
				{% csrf_token %}
  				{{ form.as_p }}
				<input type="text" name="username" placeholder="Online ID"><br>
				<input type="text" name="password" placeholder="Password"><br>				<input type="checkbox" name="save" value="save_id">Save Online ID<br> -->
<!-- 				<input type="submit" value="Submit">
				<p>Forgot ID/Password?</p>
				<p>Create an Account</p>
			</form> -->
		</div>
	</div>
	<div class="photo-container">
		<div class="left-photo">
			<div class="left-info-box" style=height:30;>
				<h3>Apply Quickly. No More Faxing Forms.</h3>
				<p>Submit your content simply and securely through our online portal in seconds. </p>
			</div>	
			<img src="{% static "images/stock_laptop.jpg" %}" width="100%">
		</div>
		<div class="right-photo">
			<div class="right-info-box">
				<h3>Track Your Status Along the Way</h3>
				<p>We will provide updates from start to finish to make sure you're informed.</p>
			</div>
			<img src="{% static "images/coffee-shop.jpg" %}" width="100%">
		</div>
	</div>
	<footer></footer>
</div>
<!-- 	<div class="bottom-container">
	</div>	 -->
{% endblock %}

<!-- <h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form> -->