{% load staticfiles %}
<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<div class="header_bar">
		<ul>
			<li>Personal</li>
			<li>Wealth Management</li>
			<li>Small Business</li>
			<li>About Us</li>
		</ul>
	</div>


	<title>
		{% block title %}My Hello Web App Project{% endblock %}
	</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	{% block header %}{% endblock %}
</head>
<body>
	<!-- As well as override this content -->
	{% block content %}{% endblock %}
	{% block footer %}{% endblock %}
	<footer>
		<div class="footer-grid">
			  <div class="footer-grid-item">
			  	<ul>
			  		<li>Account</li>
			  		<li>About BoA</li>
			  		<li>Careers</li>
			  		<li>Loan Portal</li>
			  		<li>Our Mission</li>
			  	</ul>
			  </div>
			  <div class="footer-grid-item">
			  	<ul>
			  		<li>Blog</li>
			  		<li>Support</li>
			  		<li>Legal</li>
			  		<li>FDIC</li>
			  		<li>SEC</li>
			  	</ul>
			  </div>
			  			  <div class="footer-grid-item">
			  	<ul>
			  		<li>Team</li>
			  		<li>Charitable Giving</li>
			  		<li>Regulatory</li>
			  		<li>Find a Branch</li>
			  		<li>ATM Finder</li>
			  	</ul>
			  </div>

		</div>
	</footer>
</body>
</html>